{% extends 'base.html' %}

{% block head %}
<!-- add a big banner to welcome user -->
<div class="p-5 text-white bg-image"
    style="background-image: url({{url_for('static', filename='img/1.png')}}); background-size:cover; min-height:400px;">
</div>
{% endblock %}

{% block main %}

<!-- Horizontal Rule -->
<hr class="border border-primary border-3 mb-3">
<!-- Display item -->
<section class="shadow-sm p-5" id="items">
    <div class="text-dark text-center">
        <div>
            <p class="h3 text-dark mb-4" id="items_anchor">Pick an item!</p>
        </div>
    </div>
    <div class="row ps-2 pe-2">
        {% for item in items %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="{{ url_for('static', filename='img/' + item.image) }}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{ item.name }}</h4>
                    <p class="card-text">{{ item.description }}</p>
                    <h4 class="card-text text-end">A${{ item.price }}</h4>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('main.citytours', itemid=item.id) }}" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
<!-- display the cities to the user
<section class="shadow-sm p-5" id="cities">
    <div class="text-dark text-center">
        <div>
            <p class="h3 text-dark mb-4" id="cities_anchor">Pick a city to see what we have to offer!</p>
        </div>
    </div>
    <div class="row ps-2 pe-2">
        {% for city in cities %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="{{ url_for('static', filename='img/' + city.image) }}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{ city.name }}</h4>
                    <p class="card-text">{{ city.description }}</p>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('main.citytours', cityid=city.id) }}" class="btn btn-primary">Tours</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>    
</section> -->