{% extends 'base.html' %}

{% block main %}
<section class="mb-5">  
    <div class="container mt-5" style="max-width: 1200px;">
        <div class="row mt-2 mb-5">
            <div class="col-12">
                <h3 class="display-5">Shopping Basket</h3>
            </div>
        </div>

        {% for item in order.items %}
        {% set tour = item.tour %}
        <div class="row mb-3">
            <div class="col-sm-12">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <div class="row">
                        <h5 class="lead col-md-8 col-sm-12">
                            {{ tour.date.strftime("%d-%m-%Y") }} : 
                            {{ tour.city.name }} {{ tour.name }}
                        </h5>
                        <p class="text-success float-end col text-end">
                            Price: {{ "$%.2f"|format(tour.price) }}
                        </p>
                    </div>
                    </div>
                    
                    <div class="card-body">
                        <div class="row">
                            <div class="col" >
                                <img class="img-thumbnail" 
                                src="{{ url_for('static', filename='img/' + tour.image) }}"
                                style="max-height: 200px; min-height: 100px;"
                                >
                            </div>
                            <div class="col-8">
                                <p class="card-text">{{ tour.description }}</p>   
                            </div>  
                        </div>                      
                        <div class="float-end">
                            <form 
                                method="POST" 
                                action="{{ url_for('main.remove_basketitem', item_id=item.id) }}"
                                >
                                <input type="submit" value="Remove" class="btn btn-danger mb-3">
                            </form> 
                        </div>
                    </div>  
                </div>
            </div>

            
        </div>
        {% endfor %}
        
        <!-- total price and controls -->
        <div class="row mt-4 mb-1 justify-content-between">
            {% if order.items|length > 0 %}
            <div class="col-2 ">
                <form method="POST" action="{{ url_for('main.clear_basket') }}">
                    <input type="submit" value="Clear" class="btn btn-danger mb-3">
                </form>
            </div>
            {% endif %}
            <div class="col-2 d-flex justify-content-end p-2">
                <span class="lead-5 text-bg-primary rounded shadow-sm p-2">
                    Quote: {{ "$%.2f"|format(totalprice) }}
                </span>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-2 d-flex justify-content-end">
                {% if order.items|length > 0 %}
                <form method="POST" action="{{ url_for('main.checkout') }}">
                    <input type="submit" value="Checkout" class="btn btn-success mb-3">
                </form>
                {% else %}
                <a href="{{ url_for('main.index') }}">
                    <button class="btn btn-primary mb-3">
                        Continue Shopping
                    </button></a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
